{% load static %} {% load bootstrap4 %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DG Photography</title>
    {% bootstrap_css %} {% bootstrap_javascript jquery='full' %} 
    <!--<script src="{% static '/js/dg_photography.js' %}"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  </head>

  <body class="m-3">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'dg_photography:index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dg_photography:new_photo' %}">Add Photo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dg_photography:about' %}">About</a>
      </li>
    </ul>
    <br />
    <ul class="nav justify-content-end">
      {% if user.is_authenticated %}
      <li class="pt-2">
        Hello, {{ user.username }}.
      </li>
      <li>
        <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
      </li>
      {% else %} 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Log in</a> 
      </li>
      {% endif %}
    </ul>
    {% block content %}{% endblock content %}
    <br />
    <footer class="text-center pt-4 border-top">
      © 2023 | DG Photography
    </footer>
    
  </body>
</html>
