{% load static %} {% load bootstrap4 %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DG Photography</title>
    {% bootstrap_css %} {% bootstrap_javascript jquery='full' %} 
    <!--<script src="{% static '/js/dg_photography.js' %}"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  </head>

  <body class="m-3">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2fbff;">
      <a class="navbar-brand" href="{% url 'dg_photography:index' %}">
        <img src="{% static 'img/logo_new.png' %}" width="30" height="30" class="d-inline-block align-top">
        DG Photography
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'dg_photography:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dg_photography:new_photo' %}">Add Photo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dg_photography:about' %}">About</a>
          </li>
        </ul>
      </div>
    </nav> 
    
    <ul class="nav justify-content-end">
      {% if user.is_authenticated %}
      <li class="pt-2">
        Hello, {{ user.username }}.
      </li>
      <li>
        <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
      </li>
      {% else %} 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Log in</a> 
      </li>
      {% endif %}
    </ul>
    {% block content %}{% endblock content %}
    <br />
    <footer class="text-center pt-4 border-top">
      © 2023 | DG Photography
    </footer>
    
  </body>
</html>
