{% extends "dg_photography/base.html" %} {% load static %} {% load bootstrap4 %}
{% block content %}
  <div class="shadow-lg p-2 m-3">
    <div class="card">
      <img src="{% static 'img/shell.jpg' %}" />
      <div class="card-img-overlay">
        <br />
        <h5 class="card-title display-4 text-white text-center">DG Photography<h5>
        <br />
        <p class="card-text text-white text-center">Explore photos by DG, learn, and create your own gallery.</p>
      </div> 
    </div>
  </div>
  <br />
  <ul class="nav justify-content-end">
    {% if user.is_authenticated %}
    <li class="pt-2">
      Hello, {{ user.username }}.
    </li>
    <li>
      <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
    </li>
    {% else %} 
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:register' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:login' %}">Log in</a> 
    </li>
    {% endif %}
  </ul>
</div>

{% endblock content %}