{% extends "dg_photography/base.html" %} {% load static %} {% load bootstrap4 %}
{% block content %}

<h3 class="text-secondary text-center display-4 border-muted border-bottom">Photos</h3>
<br />
<div>
    <a class="nav-link text-right" href="{% url 'dg_photography:new_photo' %}">Add a Photo</a>
</div>
<ul>
    {% for photo in photos %}
        <li class="list-group-item"><a href="{% url 'dg_photography:photo' photo.id %}">{{ photo }}</a></li>
    {% empty %}
        <li>No photos have been uploaded yet</li>
    {% endfor %}
</ul>
{% endblock content %}